.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(235, 235, 235);
  font-family: Arial, Helvetica, sans-serif;

}

body {
  margin: 0;
  padding: 0;
}


.navbar {
  width: 100%;
  height: 70px;
  background-color: rgb(34, 218, 95);
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

}

.verProf {
  text-decoration: none;
  color: #fff;
  padding: 2%;
  transition: 300ms;
}

.navbar a img{
  width: 70%;
  margin: 0% 15%;
  padding: 1%;
}

.verProf:hover{
  background-color: white;
  cursor: pointer;

  transition: 300ms;
  color: #000;
}



.homeBtn{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.sairBtn{
  width: 25%;
  height: 8vh;
  border-radius: 8px;
  border: none;
  margin: 4%;
  background-color: rgb(84, 224, 71);;
  color: rgb(255, 255, 255);
  transition: 300ms;

  font-size: large;

  text-align: center;
}

.sairBtn:hover{
  cursor: pointer;
  background-color: rgb(14, 107, 5);
  color: white;
}


/* cadastrar */

.cadastroDiv{
  display: flex;
  flex-direction: column;
  width: 100%;

  align-content: center;
  justify-content: center;


  font-family: Arial, Helvetica, sans-serif;
}

.cabecario{
  margin-top: 8%;
  font-size: larger;
}

.formContainer{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  float: inline-end;
  padding: 5%;

  background-color: rgb(255, 255, 255);
  border-radius: 1%;

  width: 40%;
  margin: 5% 10%;

  font-weight: bold;
}

.cadastroBtn{
  width: 50%;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 0% 23%;
  background-color: rgb(84, 224, 71);
  color: white;
  transition: 300ms;
}

.cadastroBtn:hover{
  cursor: pointer;
  background-color: rgb(41, 173, 28);
  color: rgb(255, 255, 255);
  font-size: large;
  transition: 300ms;
}

.cadastroLogin{
  width: 50%;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 5% 25%;
  background-color: rgb(84, 224, 71);
  color: white;
  transition: 300ms;
}

.cadastroLogin:hover{
  cursor: pointer;
  background-color: rgb(41, 173, 28);
  color: rgb(255, 255, 255);
  font-size: large;
  transition: 300ms;
}

.formContainer #inputCadastro {
  height: 4vh;
  margin-top: 1%;
  margin-bottom: 10px;
  border: 2px solid rgb(87, 146, 69);
  border-radius: 5px;
  padding-left: 0%;
}

.formContainer img{
  width: 60%;
}
span {
  color: red;
  font-size: medium;
  font-weight: 500;
}


/* home Page*/

.homePage{
  display: flex;
  flex-direction: row;


  width: 100%;
  height: 90%;

  font-family: Arial, Helvetica, sans-serif;
}

.leftPart{
  display: table;
  width: 50%;

  justify-items: center;
  align-items: stretch;
  background-color: rgb(243, 241, 241);
}

.saudacoes{
  margin-left: 5%;
}
.profBox{
  background-color: rgb(248, 248, 248);
  padding: 0% 4%;
  margin: 3%;
  border-radius: 2%;
  box-shadow: inset;

  width: 55%;
  display: flex;
  flex-direction: column;

  font-size: large;

}

.profBox .profInfo{
  margin: 2%;
  font-size: xx-large;
}


.rightPart {
  
  font-size: xx-large;
  background-color: rgb(243, 241, 241);
  width: 50%;
}

.rightPart .title{
  display: flex;
  align-self: center;
  justify-self: center;

}

.chart{
  width: 70%;
}


/* Login page */

.loginPage{
  display: flex;
  flex-direction: row-reverse;

  height: 100%;
  width: 100%;

}

.logForm{
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 50%;
  padding: 3%;
  margin: 5% 5%;
  border-radius: 2%;

  font-size: larger;

  background-color: rgb(243, 243, 243);
}

.logForm input{
  margin: 3% 0%;

  height: 4vh;
  width: 70%;
  border: 2px solid rgb(87, 146, 69);
  border-radius: 5px;
  padding-left: 1%;
}

.salvusCall{
  padding: 4%;
  width: 50%;
}

.salvusCall .salvusText{
  font-size: large;
  text-align: left;
}

 .salvusTitle{
  font-size: x-large;
  font-weight: bold;
  text-align: left;
  color: rgb(34, 218, 95);

  margin-bottom: 5%;
}

.salvusCall .salvusBemVindos{
  font-size: xx-large;
  font-weight: bold;

  color: rgb(34, 218, 95);
}

.page404{
  background-color: white;
  font-size: xx-large;
  width: 100%;

  text-align: center;

  padding: 4%;
}

/* Lista */

.divLista{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100vw;

  align-items: center;
}

.lista{
  display: flex;
  margin: 2% 2%;
  background-color: rgb(163, 228, 168);
  padding: 5%;
  border-radius: 1%;
  border-style: solid;

  width: 70%;

  font-size: large;
  font-weight: bold;
}

.lista label{
  margin-left: 2%;
}

